@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    color: white;
    scroll-behavior: smooth;
}



/* GENERAL */

section {
    background-color: #060602;
    width: 100%;
    height: 100vh;
}

.container {
    width: 100%;
    height: 100%;
}

.row {
    margin: 0 auto;
    width: 100%;
    max-width: 1600px;
}

a {
    color: white;
    text-decoration: none;
    cursor: pointer;
    transition: all .3s ease;
}

li {
    list-style: none;
}

input {
    outline: none;
}

i {
    cursor: pointer;
}

.purple {
    color: #a536ce;
}

.title {
    font-size: 80px;
    margin-bottom: 16px;
}

.sub-title {
    font-size: 36px;
    margin-bottom: 32px;
}

p {
    font-size: 20px;
    font-weight: 700;
    line-height: 1.5;
    word-spacing: 3;
    margin-bottom: 20px;
}

nav {
    z-index: 1;
}

button {
    cursor: pointer;
    border: 3px solid #cecece;
}

button:hover {
    filter: brightness(1.5);
    transform: scale(1.05);
}

button:active {
    border-color: #6f198f;
    filter: brightness(1.5);
    transform: scale(0.95);
}





/* LANDING & NAV */

#landing {
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.logo__img {
    width: 90px;
}

.nav__container {
    background: linear-gradient(to right, #060602 0%, #060602 75%, #521369 100%);
    height: 70px;
    display: flex;
    align-items: center;
}

.nav__row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 48px 0 96px;
}

.nav__contents {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav__search--bar {
    width: 45%;
    display: flex;
    align-items: center;
    position: relative;
    transition: all .3s ease;
}

.nav__search--bar:hover {
    filter: brightness(1.5);
}

.search--bar:focus {
    border-color: #6f198f;
}

.search--bar {
    width: 100%;
    background: transparent;
    color: white;
    border: 2px solid #cecece;
    border-radius: 8px;
    padding: 8px 16px;
    transition: all .4s ease;
}

.fa-magnifying-glass {
    color: #cecece;
    position: absolute;
    right: 20px;
    transition: all .2s ease;
}

.fa-magnifying-glass:hover {
    transform: scale(1.2);
    
}

.nav__link--list {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 50%;
    padding: 0 24px;
}

.landing__row {
    height: 100%;
    display: flex;
    justify-content: space-between;
}

.desc {
    width: 60%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 80px;
    z-index: 1;
}

.desc__button {
    width: 250px;
    padding: 8px 16px;
    background: transparent;
    border-radius: 8px;
    font-size: 16px;
    transition: all .2s ease;
}

.showcase__movies--list {
    width: 40%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.showcase__movie {
    position: relative;
    width: 100%;
    padding: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.movie__img--wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.movie__img--background {
    position: absolute;
    width: 200%;
    height: 150%;
    z-index: 0;
    border-radius: 35%;
    filter: blur(120px) brightness(1.5);
    animation: 10s ease-in-out infinite fadePosters;
}

.movie__img {
    width: 100%;
    height: 100%;
    max-width: 550px;
    max-height: 750px;
    opacity: 1;
    z-index: 10;
    border-radius: 4px;
    animation: 10s ease-in-out infinite fadePosters;
}

@keyframes fadePosters {
    0% {
        opacity: 0;
    }
    20% {
        opacity: 1;
    }
    80% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}



/* TOP 10 */

#best {
    height: 80vh;
    overflow: hidden;
}



.best__container {
    width: 100%;
    height: 100%;
    margin-top: 20px;
}

.best__row {
    padding: 32px;
    overflow: hidden;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 10;
}

.best__movies--desc,
.movies__desc {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 1300px;
    padding: 0 8px;
    margin-bottom: 12px;
    z-index: 10;
}

.best__movies--title,
.movies__title {
    font-size: 40px;
    font-weight: 900;
}

.best__movies--sub-title,
.movies__sub-title {
    font-size: 32px;
    font-weight: 900;
}

.best__movies--dividor,
.movies__dividor {
    width: 100%;
    max-width: 1300px;
    height: 2px;
    background-color: #f9e8ff;
    border-radius: 4px;
    margin: 0 24px 80px 24px;
    z-index: 10;
}

.best__movies--slider {
    width: 100%;
    max-width: 1450px;
    margin-bottom: 56px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.best__movie--bkgd {
    width: 100%;
    height: 400%;
    z-index: 0;
    filter: blur(40px) saturate(125%) brightness(50%);
    transform: scale(1.5);
}

.best__movie {
    width: 8%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    border: 4px solid transparent;
    border-image: linear-gradient(to bottom, #ffffff 0%, #000000 50%, #ffffff 100%) 1;
    border-radius: 2px;
    transition: all .5s ease;
}

.best__movie:hover {
    width: 300px;
    filter: brightness(1.1);
    border-image: linear-gradient(to bottom, #a536ce 0%, #000000 50%, #a536ce 100%) 1;
}

.best__movie:not(:hover) {
    filter: brightness(.85);
}

.best__movie--wrapper {
    width: 300px;
    height: 460px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
}

.best__movie--img {
    width: 300px;
    height: 100%;
    z-index: 10;
}

.movies__button {
    width: 250px;
    padding: 8px 16px;
    background: transparent;
    border-radius: 8px;
    font-size: 16px;
    transition: all .3s ease;
    z-index: 10;
}



/* MOVIES */

#movies {
    height: 100%;
}

.movies__container,
.footer__container {
    padding: 56px 0;
}

.movies__row,
.footer__row {
    padding: 0 32px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.movies__gallery {
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 40px;
}

.gallery__movie {
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px;
    margin-bottom: 16px;
}

.gallery__movie--wrapper {
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid transparent;
    border-image: linear-gradient(to bottom, #ffffff 0%, #000000 50%, #ffffff 100%) 1;
    border-radius: 2px;
    transition: all .3s ease;
}

.gallery__movie--wrapper:hover{
    transform: scale(1.05);
    filter: brightness(1.05);
    box-shadow: #cecece 0px 0px 16px;
}

.gallery__movie--wrapper:active {
    transform: scale(0.95);
    box-shadow: #6f198f 0px 0px 64px;
}

.gallery__movie--wrapper:not(:hover) {
    filter: brightness(.95);
}

.gallery__movie--img {
    width: 100%;
    height: 100%;
    max-height: 360px;
}



/* FOOTER */

#footer {
    height: 30vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: radial-gradient(circle at top, #3b0c4d 0%, #000000 100%);
}

.footer__logo {
    margin-bottom: 24px;
}

.footer__link--list {
    display: flex;
    justify-content: center;
    align-items: center;

}

.footer__link {
    font-size: 20px;
    margin: 0 16px;
}








